<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset.css">
    <link rel="stylesheet" href="posisi.css">
    <title>Upload Topik</title>
</head>
<body class="uploadAdmin">
    <div class="left">
        <div class="navigation">
            <div class="user">
                <img src="../design/profile.jpg" alt="" style="border-radius: 50%;height: 70px;width: 70px;">
                <h3>Faisal Surya</h3>
                <p>Administrator</p>
            </div>
            <div class="links">
                <a href=""></a>
                <a href="adminDasboard" class="link">
                    <img src="../design/right-from-bracket-solid.svg" alt="">
                    <h2>Manage Topic</h2>
                </a>
                <a href="adminUpload" class="link">
                    <img src="../design/svg-dark/book-solid.svg" alt="">
                    <h2>Upload Topic</h2>
                </a>
                <a href="adminManageAkun" class="link">
                    <img src="../design/svg-light/user-pen-solid.svg" alt="">
                    <h2>Manage Account</h2>
                </a>
                <a href="adminManageTimeline" class="link">
                    <img src="./design/svg-light/calendar-solid.svg" alt="">
                    <h2>Manage Timeline</h2>
                </a>
            </div>
            <div class="logout">
                <img src="./design/svg-light/right-from-bracket-solid.svg" alt="">
            </div>
        </div>
    </div>

    <div class="right">
        <div class="box-admin-large input">
            <div class="content">
                <form action="#">
                    <table>
                        <tr class="row">
                            <td><label for="nomor">Nomor</label></td>
                            <td>
                                <input type="text" name="nomor">
                            </td>
                        </tr>
                        <tr class="row">
                            <td><label for="judul">Judul</label></td>
                            <td>
                                <input type="text" name="judul">
                            </td>
                        </tr>
                        
                        <tr class="row small">
                            <td><label for="peminatan">Peminatan</label></td>
                            <td>
                                <select name="peminatan" id="peminatan">
                                    <option value="Data Science" selected>Computing Science</option>
                                    <option value="Data Science" selected>Data Science</option>
                                </select>
                            </td>
                            <td><label for="peminatan">Tipe</label></td>
                            <td>
                                <select name="peminatan" id="peminatan">
                                    <option value="Data Science" selected>Bintang</option>
                                    <option value="Data Science" selected>Reguler</option>
                                </select>
                            </td>
                            <td><label for="file">File</label></td>
                            <td><img src="../design/svg-light/cloud-arrow-up-solid.svg" alt=""></td>
                        </tr>
                        <tr class="row">
                            
                        </tr>
                        
                    </table>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</body>
</html>