<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52415d4f39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="asset.css">
    <link rel="stylesheet" href="posisi.css">
    <title>Manage Timeline</title>
</head>
<body class="manageTimelineAdmin2">
    <div class="body-left">
        <div class="navigation timeline">
            <div class="user">
                <i class="fa-solid fa-circle-user fa-6x"></i>
                <h3>Faisal Surya</h3>
                <p>Administrator</p>
            </div>
            <div class="duedate">
                <table>
                    <tr>
                        <td><h3>Review due : </h3></td>
                        <td><h2>01-01-2021</h2></td>
                    </tr>
                    <tr>
                        <td><h3>Upload due : </h3></td>
                        <td><h2>01-01-2021</h2></td>
                    </tr>
                </table>
            </div>
            <div class="links">
                <a href="adminDasboard" class="link">
                    <i class="fa-solid fa-book fa-2x"></i>
                    <h2>Manage Topic</h2>
                </a>
                <a href="adminUpload" class="link">
                    <i class="fa-solid fa-cloud-arrow-up fa-2x"></i>
                    <h2>Upload Topic</h2>
                </a>
                <a href="adminManageAkun" class="link">
                    <i class="fa-solid fa-user-pen fa-2x"></i>
                    <h2>Manage Account</h2>
                </a>
                <a href="adminManageTimeline" class="link active">
                    <i class="fa-solid fa-calendar fa-2x"></i>
                    <h2>Manage Timeline</h2>
                </a>
            </div>
            <div class="logout">
                <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
            </div>
        </div>
    </div>

    <div class="body-right">
        <div class="head">
            <div class="top">
                <h1>Timeline</h1>
            </div>
        </div>
        <div class="box-admin-large timeline">
            <div class="head">
                <div class="left">
                    <h1>Timeline</h1>
                </div> 
            </div>
            <div class="content">
               <form action="#">
                    <table>
                        <tr>
                            <td><h2>From : </h2></td>
                            <td><input type="date"></td>
        
                            <td><h2>To :</h2></td>
                            <td><input type="date" name="" id=""></td>
                        </tr>
                    </table>
                    <input type="submit" value="Save">
               </form>
            </div>
        </div>
        <br>
        <div class="box-admin-large timeline">
            <div class="head">
                <div class="left">
                    <h1>Review</h1>
                </div> 
            </div>
            <div class="content">
               <form action="adminManageTimeline2">
                    <table>
                        <tr>
                            <td><h2>From : </h2></td>
                            <td><input type="date"></td>
        
                            <td><h2>To :</h2></td>
                            <td><input type="date" name="" id=""></td>
                        </tr>
                    </table>
                    <input type="submit" value="Save">
               </form>
            </div>
        </div>
    </div>
</body>
</html>