<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset.css">
    <link rel="stylesheet" href="posisi.css">
    <title>Manage Comment</title>
</head>
<body class="commentAdmin">
    <div class="left">
        <div class="navigation">
            <div class="user">
                <img src="../design/profile.jpg" alt="" style="border-radius: 50%;height: 70px;width: 70px;">
                <h3>Faisal Surya</h3>
                <p>Administrator</p>
            </div>
            <div class="links">
                <a href=""></a>
                <a href="adminDasboard" class="link">
                    <img src="../design/right-from-bracket-solid.svg" alt="">
                    <h2>Manage Topic</h2>
                </a>
                <a href="adminUpload" class="link">
                    <img src="../design/svg-dark/book-solid.svg" alt="">
                    <h2>Upload Topic</h2>
                </a>
                <a href="adminManageAkun" class="link">
                    <img src="../design/svg-light/user-pen-solid.svg" alt="">
                    <h2>Manage Account</h2>
                </a>
                <a href="adminManageTimeline" class="link">
                    <img src="./design/svg-light/calendar-solid.svg" alt="">
                    <h2>Manage Timeline</h2>
                </a>
            </div>
            <div class="logout">
                <img src="./design/svg-light/right-from-bracket-solid.svg" alt="">
            </div>
        </div>
    </div>
    
    <div class="right">
        <div class="head">
            <div class="top">
                <h1>Comment</h1>
            </div>
        </div>
        <div class="box-comment">
            <div class="left">
                <div class="head">
                    <h1>Nama Dosen</h1>
                </div>
                <div class="content">
                    <h2>Topiknya bagus banget sih bun</h2>
                </div>
            </div>
            <div class="right">
                <img src="../design/svg-light/trash-solid.svg" alt="">
                <img src="../design/svg-light/reply-solid.svg" alt="">
            </div>
        </div>
        <div class="box-comment">
            <div class="left">
                <div class="head">
                    <h1>Nama Dosen</h1>
                </div>
                <div class="content">
                    <h2>Topiknya bagus banget sih bun</h2>
                </div>
            </div>
            <div class="right">
                <img src="../design/svg-light/trash-solid.svg" alt="">
                <img src="../design/svg-light/reply-solid.svg" alt="">
            </div>
        </div>
        <div class="box-comment">
            <div class="left">
                <div class="head">
                    <h1>Nama Dosen</h1>
                </div>
                <div class="content">
                    <h2>Topiknya bagus banget sih bun</h2>
                </div>
            </div>
            <div class="right">
                <img src="../design/svg-light/trash-solid.svg" alt="">
                <img src="../design/svg-light/reply-solid.svg" alt="">
            </div>
        </div>
        <br> <br>
        <div class="box-comment input">
            <form action="#">
                <input type="text" placeholder="Type your message here...">
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</body>
</html>