<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52415d4f39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="asset.css">
    <link rel="stylesheet" href="posisi.css">
    <title>Manage Akun</title>
</head>
<body class="manageAkunAdmin">
    <div class="body-left">
        <div class="navigation">
            <div class="user">
                <i class="fa-solid fa-circle-user fa-6x"></i>
                <h3>Faisal Surya</h3>
                <p>Administrator</p>
            </div>
            <div class="links">
                <a href="adminDasboard" class="link">
                    <i class="fa-solid fa-book fa-2x"></i>
                    <h2>Manage Topic</h2>
                </a>
                <a href="adminUpload" class="link">
                    <i class="fa-solid fa-cloud-arrow-up fa-2x"></i>
                    <h2>Upload Topic</h2>
                </a>
                <a href="adminManageAkun" class="link active">
                    <i class="fa-solid fa-user-pen fa-2x"></i>
                    <h2>Manage Account</h2>
                </a>
                <a href="adminManageTimeline" class="link">
                    <i class="fa-solid fa-calendar fa-2x"></i>
                    <h2>Manage Timeline</h2>
                </a>
            </div>
            <div class="logout">
                <a href="adminLogin" class="link">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="body-right">
        <div class="head">
            <div class="top">
                <h1>Account</h1>
            </div>
        </div>
        <div class="box-comment acc">
            <div class="left">
                <div class="head">
                    <h1>Faisal Surya</h1>
                </div>
                <div class="content">
                    <h2>faisalgans@gmail.com</h2>
                </div>
            </div>
            <div class="right">
                <i class="fa-solid fa-gear fa-3x"></i>
            </div>
        </div>
        <br>
        <div class="box-admin-large acc">
            <div class="head">
                <div class="left">
                    <h1>Faisal Surya</h1>
                </div>
                <div class="right">
                    <i class="fa-solid fa-circle-chevron-left fa-3x"></i>
                </div>
            </div>
            <div class="content">
               <form action="#">
                    <table>
                        <tr>
                            <td><h2>Nama </h2></td>
                            <td class="right"><h2>Faisal Surya</h2></td>
                        </tr>
                        <tr>
                            <td><h2>NIK</h2></td>
                            <td class="right"><h2>1234681736</h2></td>
                        </tr>
                        <tr>
                            <td><h2>Email</h2></td>
                            <td class="right"><h2>faisalgans@gmail.com</h2></td>
                        </tr>
                        <tr>
                            <td><h2>Username</h2></td>
                            <td class="right"><h2>Faisaluyeh</h2></td>
                        </tr>
                        <tr>
                            <td><h2>password</h2></td>
                            <td class="right"><h2>faisalmanis</h2></td>
                        </tr>
                    </table>
                    <input type="submit" value="Save">
               </form>
            </div>
        </div>
    </div>
</body>
</html>