<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset.css">
    <link rel="stylesheet" href="posisi.css">
    <title>Dashboard Administrator</title>
</head>
<body class="dasboardAdmin">
    <div class="left">
        <div class="navigation">
            <div class="user">
                <img src="../design/profile.jpg" alt="" style="border-radius: 50%;height: 70px;width: 70px;">
                <h3>Faisal Surya</h3>
                <p>Administrator</p>
            </div>
            <div class="links">
                <a href=""></a>
                <a href="dasboardAdmin" class="link">
                    <img src="../design/right-from-bracket-solid.svg" alt="">
                    <h2>Manage Topic</h2>
                </a>
                <a href="uploadAdmin" class="link">
                    <img src="../design/svg-dark/book-solid.svg" alt="">
                    <h2>Upload Topic</h2>
                </a>
                <a href="manageAkunAdmin" class="link">
                    <img src="../design/svg-light/user-pen-solid.svg" alt="">
                    <h2>Manage Account</h2>
                </a>
                <a href="manageTimelineAdmin" class="link">
                    <img src="./design/svg-light/calendar-solid.svg" alt="">
                    <h2>Manage Timeline</h2>
                </a>
            </div>
            <div class="logout">
                <img src="./design/svg-light/right-from-bracket-solid.svg" alt="">
            </div>
        </div>
    </div>
    <div class="right">
        <div class="head">
            <div class="top">
                <h1>Topic</h1>
                <div class="dropdown">
                    <select name="dropdown-tahun" id="">
                        <option value="value">1</option>
                        <option value="value">2</option>
                        <option value="value">3</option>
                        <option value="value">4</option>
                    </select>
                </div>
            </div>
            <div class="bot">
                <div class="filter" id="filter-active"><p>All</p></div>
                <div class="filter"><p>Open</p></div>
                <div class="filter"><p>Approved</p></div>
                <div class="filter"><p>Declined</p></div>
            </div>
        </div>
    
        <div class="box-content-admin">
            <div class="box-front">
                <div class="left">
                    <h2>Judul</h2>
                    <h3>Nama Dosen</h3>
                    <p>Nomor</p>
                </div>
                <div class="right hover">
                    <img src="./design/svg-light/cloud-arrow-down-solid-hover.svg" alt="">
                    <img src="./design/svg-light/gear-solid-hover-1.svg" alt="">
                </div>
                <div class="right">
                    <img src="./design/svg-light/cloud-arrow-down-solid.svg" alt="">
                    <img src="./design/svg-light/gear-solid.svg" alt="">
                </div>
                
            </div>
            <div class="box-back">
                <h2>Approved</h2>
                <h2>Reguler</h2>
            </div>
        </div>
    </div>
</body>
</html>