<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52415d4f39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="asset.css">
    <link rel="stylesheet" href="posisi.css">
    <title>Manage Topik</title>
</head>
<body>
    <body class="uploadDosen">
        <div class="left">
            <div class="navigation">
                <div class="user">
                    <img src="../design/profile.jpg" alt="" style="border-radius: 50%;height: 70px;width: 70px;">
                    <h3>Faisal Surya</h3>
                    <p>Dosen</p>
                </div>
                <div class="links">
                <a href="dosenDasboard" class="link">
                    <img src="../design/svg-dark/book-solid.svg" alt="">
                    <h2>Manage Topic</h2>
                </a>
                <a href="dosenUpload" class="link">
                    <img src="../design/cloud-arrow-up-solid.svg" alt="">
                    <h2>Upload Topic</h2>
                </a>
                <a href="dosenBrowse" class="link">
                    <img src="../design/svg-light/folder-open-solid.svg" alt="">
                    <h2>Browse</h2>
                </a>
                </div>
                <div class="logout">
                    <img src="./design/svg-light/right-from-bracket-solid.svg" alt="">
                </div>
            </div>
        </div>

    <div class="right">
        <div class="box-admin-large dosen">
            <div class="head">
                <div class="left">
                    <h1>Judul</h1>
                    <h2>Regular</h2>
                </div>
                <div class="right">
                    <img src="../design/svg-dark/circle-chevron-left-solid.svg" alt="">
                </div>
            </div>
            <div class="content">
                <div class="dropdown">
                    <select name="dropdown-tahun" id="">
                        <option value="taken">Taken</option>
                        <option value="value">Open</option>
                        <option value="value">Close</option>
                    </select>
                </div>
                <table>
                    <tr>
                        <td><h2>Status</h2></td>
                        <!-- <td class="right"><h2>Faisal Surya</h2></td> -->
                    </tr>
                </table>
                <form action="#">
                    <table class="table-small">
                        <tr>
                            <td><h2>Anda</h2></td>
                            <td class="right">
                                <h3>Approved</h3>
                            </td>
                            
                        </tr>
                        <tr>
                            <td><h2>Dosen 1</h2></td>
                            <td class="right">
                                <h3>Approved</h3>
                            </td>
                            
                        </tr>
                        <tr>
                            <td><h2>Dosen 2</h2></td>
                            <td class="right">
                                <h3>Approved</h3>
                            </td>
                            
                        </tr>
                    </table>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</body>
</html>