<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52415d4f39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="asset.css">
    <link rel="stylesheet" href="posisi.css">
    <title>Dashboard Mahasiswa</title>
</head>
<body class="dasboardMahasiswa">
    <div class="body-left">
        <div class="navigation">
            <div class="user">
                <i class="fa-solid fa-circle-user fa-6x"></i>
                <h3>Faisal Surya</h3>
                <p>Dosen</p>
            </div>
            <div class="links">
                <a href="mahasiswaDasboard" class="link active">
                    <i class="fa-solid fa-book fa-2x"></i>
                    <h2>Manage Topic</h2>
                </a>
                <a href="mahasiswaBrowse" class="link">
                    <i class="fa-solid fa-folder-open fa-2x "></i>
                    <h2>Browse</h2>
                </a>
            </div>
            <div class="logout">
                <a href="mahasiswaLogin" class="link">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
                </a>
            </div>
    </div>
    
    <div class="body-right">
        <div class="head">
            <div class="top">
                <h1>Topic</h1>
            </div>
        </div>
        
        <div class="box-content-admin">
            <div class="box-front">
                <div class="left">
                    <h2>Judul</h2>
                    <h3>Nama Dosen</h3>
                    <p>Nomor</p>
                </div>
                    
                <div class="right">
                    <i class="fa-solid fa-cloud-arrow-down fa-3x"></i>
                    <a href="dosenManageTopik"><i class="fa-solid fa-gear fa-3x"></i></a>
                        
                </div>
                    
            </div>
            <div class="box-back">
                <h2>Approved</h2>
                <h2>Reguler</h2>
            </div>
        </div>
    </div>
</body>
</html>