.loginAdmin{
    background-image: url('../design/gradient_4.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.dasboardAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: hidden;
}

.uploadAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageAkunAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageTimelineAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageTimelineAdmin2{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageTopikAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.commentAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}