/* ADMIN */
.loginAdmin{
    background-image: url('../design/gradient_4.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.dasboardAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 50vh;
    overflow: hidden;
    
}

.reviewAdmin{
    background-image: url('../design/gradient_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.uploadAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageAkunAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageTimelineAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageTimelineAdmin2{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageTopikAdmin{
    background-image: url('../design/gradient_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.commentAdmin{
    background-image: url('../design/gradient_1.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}


/* DOSEN */
.loginDosen{
    background-image: url('../design/gradient_6.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.dasboardDosen{
    background-image: url('../design/gradient_5.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: hidden;
}

.browseDosen{
    background-image: url('../design/gradient_5.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: hidden;
}

.uploadDosen{
    background-image: url('../design/gradient_5.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.manageTopikDosen{
    background-image: url('../design/gradient_5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.reviewDosen{
    background-image: url('../design/gradient_5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* MAHASISWA */
.loginMahasiswa{
    background-image: url('../design/gradient_7.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.dasboardMahasiswa{
    background-image: url('../design/gradient_8.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: hidden;
}

.browseMahasiswa{
    background-image: url('../design/gradient_8.jpg');
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: hidden;
}